{% extends "base.html" %}
{% load permission_tags %}

{% block head_title %} Avaliação {% endblock head_title %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4><b>ITMpe</b> - Avaliação Continuada</h4>
        {% if user|has_role:'controle' %}
            <a type="button" class="btn btn-success" href="{% url 'avaliacao_add' %}"><i class="lni lni-plus"></i></a>
        {% endif %}
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Critério</th>
                <th scope="col">Data Limite</th>
                <th scope="col">Status</th>
                {% if user|has_role:'controle' %}
                    <th scope="col">Responsável</th>
                {% endif %}
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aval in avaliacao %}
                <tr>
                    <td>{{ aval.criterio.item }}</td>
                    <td>{{ aval.data_limite }}</td>
                    <td>{{ aval.status }}</td>
                    {% if user|has_role:'controle' %}
                        <td>{{ aval.responsavel }}</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'avaliacao_enviar' aval.id %}" class="btn btn-success"><i class="lni lni-upload"></i></a>
                        {% if user|has_role:'controle' %}
                            <a href="{% url 'avaliacao_edit' aval.id %}" class="btn btn-success"><i class="lni lni-cog"></i></a>
                            <a href="{% url 'avaliacao_delet' aval.id %}" class="btn btn-success"><i class="lni lni-eraser"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="wrapper justify-content-center">
        <!--{% if bdirradiacao.has_previous %}
            <a href="{% url 'banco_de_irradiacao' %}?page={{bdirradiacao.previous_page_number}}" style="margin-right: 30px;"><i class="lni lni-arrow-left"></i></a>
        {% endif %}
        <span>{{bdirradiacao.number}}</span>
        {% if bdirradiacao.has_next %}
            <a href="{% url 'banco_de_irradiacao' %}?page={{bdirradiacao.next_page_number}}" style="margin-left: 30px;"><i class="lni lni-arrow-right"></i></a>
        {% endif %}-->
    </div>
{% endblock contentdash %}
