{% extends "base.html" %}

{% block head_title %} Critério de avaliação {% endblock head_title %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4>Informações do item</h4>
    </div>
    <hr>
    <form action="{% url 'avaliacao_add' %}" method="post">
        {% csrf_token %}
        {{ avaliacao_form.as_p }}
        <div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="{% url 'avaliacao' %}" class="btn btn-danger">Cancelar</a>
        </div>
        </form>
{% endblock contentdash %}
