{% extends "base.html" %}
{% load permission_tags %}

{% block head_title %} Critérios {% endblock head_title %}

{% block contentdash %}
    <div class="d-flex justify-content-between">
        <h4><b>ITMpe</b> - Critérios</h4>
        {% if user|has_role:'controle' %}
            <a type="button" class="btn btn-success" href="{% url 'criterios_add' %}"><i class="lni lni-plus"></i></a>
        {% endif %}
    </div>
    <hr>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Critério</th>
                <th scope="col">Dimensão</th>
                <th scope="col">Periodicidade</th>
                {% if user|has_role:'controle' %}
                    <th scope="col">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for criterio in criterios %}
                <tr>
                    <td>{{ criterio.item }}</td>
                    <td>{{ criterio.criterio }}</td>
                    <td>{{ criterio.dimensao }}</td>
                    <td>{{ criterio.periodicidade }}</td>
                    {% if user|has_role:'controle' %}
                        <td>
                            <div class='btn-group btn-group-sm' role='group'>
                                <a href="{% url 'criterios_edit' criterio.id %}" class="btn  btn-secondary"><i class="lni lni-cog"></i></a>
                                <a href="{% url 'criterios_delet' criterio.id %}" class="btn btn-secondary"><i class="lni lni-eraser"></i></a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="wrapper justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                {% if criterios.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Primeira</span>
                        </a>
                    </li>   
                {% endif %}
            
                {% for n in criterios.paginator.page_range %}
                    {% if criterios.number == n %}
                        <li class="page-item active">
                            <span class="page-link">{{ n }}</span>
                        </li>
                    {% elif n > criterios.number|add:'-3' and n < criterios.number|add:'3' %}
                       <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                {% endfor %}
            
                {% if criterios.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ criterios.paginator.num_pages }}" aria-label="Próxima">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Última</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>    
{% endblock contentdash %}
